@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Saludo.cshtml -->
@if (ViewBag.Mensaje != null)
{
    <h2>@ViewBag.Mensaje</h2>
}
else
{
    <p>No se ha recibido un nombre válido.</p>
}

